<app-navbar></app-navbar>

<!----------Platforms---------->
<div class="wrapper">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/cabinet/home">Главная страница</a></li>
        <li class="breadcrumb-item"><a routerLink="/cabinet/ads">Объявления</a></li>
        <li aria-current="page" class="breadcrumb-item active">{{id}}</li>
      </ol>
    </nav>
    <div class="main">
      <div class="main-nav">
        <div></div>
        <div>
          <div class="btn-group mr-3" role="group">
            <button type="button" class="btn btn-outline-primary" disabled>Неделя
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>Месяц
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>Квартал
            </button>
            <button type="button" class="btn btn-outline-primary" disabled>Год
            </button>
          </div>
          <button class="btn btn-success" disabled>
            <i class="fa fa-upload mr-1"></i>Скачать данные
          </button>
        </div>
      </div>
      <div class="main-nav border-0" style="height: 50px;">
        <div></div>
        <div>
          <span class="period-text">Период:</span>
          <span class="text-muted">от {{currentDates.second|date:'dd.MM.yyyy'}}
            до {{currentDates.current|date:'dd.MM.yyyy'}}</span>
        </div>
      </div>
      <section class="main-section p-4">
        <div class="row">
          <!-- Table -->
          <div class="col-md-12">
            <app-loader *ngIf="loading"></app-loader>
            <table class="table table-bordered table-hover toggle-circle" *ngIf="!loading && adList.length">
              <thead>
              <tr>
                <th>Рекламные кампании</th>
                <th>Группы объявлений</th>
                <th>Клики</th>
                <th>Показы</th>
                <th>СТР%</th>
              </tr>
              </thead>
              <tbody id="PTable">
              <tr *ngFor="let list of getPaginationList()">
                <td>{{list.campaignName}}</td>
                <td>{{list.groupName}}</td>
                <td>{{list.clicks}}</td>
                <td>{{list.impressions}}</td>
                <td>{{list.clickRate}}%</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="5" class="text-right">
                  <nav>
                    <ul class="pagination">
                      <li class="page-item" [class.disabled]="currentPagination <= 1">
                        <a class="page-link" href="javascript:void(0)" (click)="setPagination(currentPagination - 1)">Previous</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" (click)=setPagination(currentPagination)>
                          {{currentPagination}}
                        </a>
                      </li>
                      <li class="page-item" [class.disabled]="currentPagination + 1 > (this.adList.length / 10)+1">
                        <a class="page-link" href="javascript:void(0)" (click)=setPagination(currentPagination+1)>
                          {{currentPagination + 1}}
                        </a>
                      </li>
                      <li class="page-item" [class.disabled]="currentPagination + 2 > (this.adList.length / 10)+1">
                        <a class="page-link" href="javascript:void(0)"
                           (click)=setPagination(currentPagination+2)>
                          {{currentPagination + 2}}
                        </a>
                      </li>
                      <li class="page-item"
                          [class.disabled]="currentPagination + 1 > (this.adList.length / 10)+1">
                        <a class="page-link" href="javascript:void(0)"
                           (click)="setPagination(currentPagination + 1)">Next</a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
              </tfoot>
            </table>
            <div class="alert alert-danger" *ngIf="!loading && !adList.length">
              <h3>Ничего не найдено</h3>
              <hr>
              <h6>Нам очень жаль, но таблица пока пустая</h6>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>
