<app-navbar></app-navbar>

<div class="sub-header">
  <div class="container-fluid sub-nav p-0">
    <div>Суммированная статистика</div>
    <div class="right">
      <div class="stat">
        <span class="title">{{total.clicks|number}} </span>
        <span class="body">Клики</span>
      </div>
      <div class="stat">
        <span class="title">{{total.impressions|number}} </span>
        <span class="body">показов</span>
      </div>
      <!--      <div class="stat">-->
      <!--        <span class="title">3.3597 %</span>-->
      <!--        <span class="body">CTR %</span>-->
      <!--      </div>-->
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/cabinet/home">Главная страница</a></li>
        <li aria-current="page" class="breadcrumb-item active">Мои рекламные кампании</li>
      </ol>
    </nav>

    <!--Tabs-->

    <div class="main p-3">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-tabs tabs-vertical" role="tablist" style="display: inline-table">
            <li><h5 class="tab-title">Выберите платформу</h5></li>
            <li style="margin-bottom: 5px" class="nav-item">
              <a class="btn btn-block btn-google" href="javascript:void(0)"
                 [class.active]="currentType === 'GOOGLE_ADWORDS'" (click)="changeTabStatus('GOOGLE_ADWORDS')">
                <span class="btn-label"><i class="fa fa-google"></i></span>Google Adwords
              </a>
            </li>
            <li class="nav-item" style="margin-bottom: 5px">
              <a class="btn btn-block btn-youtube" href="javascript:void(0)"
                 [class.active]="currentType === 'YOUTUBE'" (click)="changeTabStatus('YOUTUBE')">
                <span class="btn-label"><i class="fa fa-youtube"></i></span>Youtube
              </a>
            </li>
            <li class="nav-item" style="margin-bottom: 5px">
              <a class="btn btn-block btn-yandex" href="javascript:void(0)"
                 [class.active]="currentType === 'YANDEX_DIRECT'" (click)="changeTabStatus('YANDEX_DIRECT')">
                <span class="btn-label"><i class="fa fa-yahoo"></i></span>Yandex.Direct
              </a>
            </li>
            <li class="nav-item" style="margin-bottom: 5px">
              <a class="btn btn-block btn-facebook" href="javascript:void(0)"
                 [class.active]="currentType === 'FACEBOOK'" (click)="changeTabStatus('FACEBOOK')">
                <span class="btn-label"><i class="fa fa-facebook"></i></span>Facebook
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <div class="tab-content">
            <div class="main-nav pt-0 pr-0">
              <div></div>
              <div>
                <div class="btn-group mr-3" role="group">
                  <button type="button" class="btn btn-outline-primary"
                          [class.active]="currentPeriod === 1" (click)="setPeriod(1)">Неделя
                  </button>
                  <button type="button" class="btn btn-outline-primary"
                          [class.active]="currentPeriod === 2" (click)="setPeriod(2)">Месяц
                  </button>
                  <button type="button" class="btn btn-outline-primary"
                          [class.active]="currentPeriod === 3" (click)="setPeriod(3)">Квартал
                  </button>
                  <button type="button" class="btn btn-outline-primary"
                          [class.active]="currentPeriod === 4" (click)="setPeriod(4)">Год
                  </button>
                  <button type="button" class="btn btn-outline-primary" [class.active]="currentPeriod === 5"
                          (click)="openModal()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <button class="btn btn-success" (click)="download()">
                  <i class="fa fa-upload mr-1"></i> Скачать данные
                </button>
              </div>
            </div>

            <div class="main-nav" style="border: none; height: 50px;">
              <div class="sec-left"></div>
              <div class="sec-right">
                <span class="period-text">Период:</span>
                <span id="period" class="text-muted">от {{currentDates.second|date:'dd.MM.yyyy'}}
                  до {{currentDates.current|date:'dd.MM.yyyy'}}</span>
              </div>
            </div>

            <app-loader *ngIf="loading"></app-loader>

            <table class="table table-bordered table-hover" *ngIf="!loading && campaignListShowed.length">
              <thead>
              <tr>
                <th>ID Кампании</th>
                <th>Название</th>
                <th>Статус</th>
                <th>Клики</th>
                <th>Показы</th>
                <th>CTR%</th>
                <th>Посмотреть</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let adCampaign of campaignListShowed">
                <td>{{adCampaign.id}}</td>
                <td>{{adCampaign.name}}</td>
                <td *ngIf="adCampaign.status"><span class="status green"></span>Запущено</td>
                <td *ngIf="!adCampaign.status"><span class="status red"></span>Приостановлена</td>
                <td><a href="#" title="">{{adCampaign.clicks}}</a></td>
                <td><a href="#" title="">{{adCampaign.impressions}}</a></td>
                <td>{{adCampaign.clickRate}}%</td>
                <td>
                  <a class="btn hidden-sm-down btn-success" href="javascript:void(0);"
                     (click)="more(adCampaign.id)">См. Группу</a>
                </td>
              </tr>
              </tbody>

              <tfoot>
              <tr>
                <td colspan="7">
                  <pagination [hidden]="campaignList.length <= 15" [itemsPerPage]="15"
                              [totalItems]="campaignList.length"
                              (pageChanged)="pageChanged($event)"></pagination>
                </td>
              </tr>
              </tfoot>

            </table>
            <div class="alert alert-danger" *ngIf="!loading && !campaignListShowed.length">
              <h3>Ничего не найдено</h3>
              <hr>
              <h6>Нам очень жаль, но таблица пока пустая</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<app-modal (apply)="apply($event)" #modalComponent></app-modal>
