<div class="login">
  <div class="form">
    <div class="title">Войти в систему</div>
    <div *ngIf="error" class="alert alert-danger w-100">{{error}}</div>
    <form (submit)="submit()" [formGroup]="loginForms" action="">
      <div class="form-group">
        <label><input [class.is-invalid]="isControlInvalid('login')"
                      [class.is-valid]="isControlTouched('login') && !isControlInvalid('login')"
                      autocomplete="off"
                      class="form-control"
                      formControlName="login" placeholder="Email"
                      type="text"
        ></label>
        <small *ngIf="isControlInvalid('login') && getControlErrors('login')['required']"
               class="form-text text-danger">
          Данное поле обязательно для заполнения
        </small>
        <small *ngIf="isControlInvalid('login') && getControlErrors('login')['minlength']"
               class="form-text text-danger">
          Пароль должен быть не менее 3 символов
        </small>
      </div>
      <div class="form-group">
        <label><input [class.is-invalid]="isControlInvalid('password')"
                      [class.is-valid]="isControlTouched('password') && !isControlInvalid('password')"
                      autocomplete="off"
                      class="form-control"
                      formControlName="password"
                      placeholder="Password" type="password"
        ></label>
        <small *ngIf="isControlInvalid('password') && getControlErrors('password')['required']"
               class="form-text text-danger">
          Данное поле обязательно для заполнения
        </small>
        <small *ngIf="isControlInvalid('password') && getControlErrors('password')['minlength']"
               class="form-text text-danger">
          Пароль должен быть не менее 3 символов
        </small>
      </div>
      <div class="form-group">
        <div class="remember">
          <a class="forgot" routerLink="reset/init"><img alt="img" src="../../assets/img/icons/lock.svg">Забыли
            пароль?</a>
          <div class="d-flex flex-row-reverse align-items-center justify-content-center pr-3">
            <label for="remember">Запомни меня</label>
            <input id="remember" name="remember" type="checkbox"
                   [checked]="rememberMe" (change)="rememberMe = !rememberMe"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="check-it">
          <label for="condition">
            <input (change)="agreeToConditions(!agree)" id="condition" name="condition" type="checkbox">
            Я согласен с условиями <a routerLink="/info">политики конфиденциальности</a><span
            class="text-danger font-weight-bold"> * </span>
          </label>
          <div class="text-danger font-italic mt-2 mb-2">(*) - Обязательное для подтверждения</div>
        </div>
      </div>
      <button [class.disabled]="!agree" [disabled]="loading" class="btn btn-primary btn-block"
              type="submit">
        ВОЙТИ
      </button>
    </form>
  </div>
</div>
