/* Navbar */

.topbar {
  position: relative;
  z-index: 50;
  background: linear-gradient(to right, #0D47A1 0%, #417edc 100%);
}

.top-navbar {
  min-height: 70px;
  margin: 0 auto;
  max-width: 1340px;
  padding: 4px 16px;
}

.navbar-header {
  width: 240px;
}

.logo {
  width: 220px;
  vertical-align: text-top;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;

  &.active, &:hover {
    color: #fff !important;
  }
}

.btn-user {
  background: none;
  border: none;
  padding: 18px 12px;
}

.nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: 17px;
  line-height: 50px;
}

.dropdown-menu {
  border-color: rgba(120, 130, 140, 0.13);
  margin-top: 5px !important;
}

.dropdown-user {
  padding: 0;
  width: 270px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.user-picture {
  width: 30px;
}

.user-box {
  padding: 10px 15px;
}

.u-img {
  width: 80px;
  display: inline-block;
  vertical-align: top;

  img {
    width: 100%;
  }
}

.u-text {
  display: inline-block;
  padding-left: 10px;
}

.u-name {
  margin: 0;
  line-height: 22px;
  font-size: 18px;
}

.u-mail {
  color: #90a4ae;
  margin-bottom: 2px;
  font-size: 14px;
}

.btn-rounded {
  font-size: 12px !important;
  border-radius: 60px;
  padding: 5px 10px !important;
  border: none;
}

.u-settings {
  padding: 9px 15px;
  display: block;
  color: #54667a;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
    text-decoration: none;
    color: #009fff;
  }
}

.divider {
  margin: 9px 0;
}

@media(max-width: 992px) {
  .dropdown-item {
    text-align: center;
  }
  .navbar-collapse {
    text-align: center;
  }
  .dropdown-user {
    width: 100%;
  }
  .u-items {
    display: inline-block;
    margin-left: 40px !important;
  }
  .u-setts {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 50px !important;
  }
  .divider {
    display: none;
  }
}

@media(max-width: 768px) {
  .dropdown-item {
    text-align: center;
  }
  .navbar-collapse {
    text-align: center;
  }
  .dropdown-user {
    width: 100%;
  }
  .u-items {
    display: inline-block;
    margin-left: 40px !important;
  }
  .u-setts {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 50px !important;
  }
  .divider {
    display: none;
  }
}

/* Navbar-end */
