<app-navbar></app-navbar>

<div class="wrapper">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/cabinet/home">Главная страница</a></li>
        <li aria-current="page" class="breadcrumb-item active">Объявления</li>
      </ol>
    </nav>
    <div class="main">
      <p>Настоящая Политика конфиденциальности персональной информации (далее Политика) действует в отношении всей
        информации, которую ООО «Global Solutions» и(или) его аффилированные лица (далее «Global Solutions»), а также
        его партнеры могут получить о пользователе во время использования им любого из сайтов, сервисов, служб,
        программ, мобильных приложений и иных продуктов Global Solutions (далее «Сервисы»). Согласие пользователя на
        предоставление персональной информации, данное им в соответствии с настоящей Политикой в рамках отношений с
        Global Solutions, распространяется на все Сервисы Global Solutions, в том числе на Сервисы Global Solutions,
        предоставляемые совместно с партнерами Global Solutions.</p>
      <p>Использование Сервисов Global Solutions означает безоговорочное согласие пользователя с настоящей Политикой и
        указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями
        пользователь должен воздержаться от использования Сервисов.</p>
      <p>1. Персональная информация пользователей, которую получает и обрабатывает Global Solutions</p>
      <p>1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:</p>
      <p>1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации
        (создании учётной записи) или в процессе использования Сервисов, включая персональные данные пользователя,
        полученные посредством использования пользователем сторонних служб и сервисов для своей идентификации в Сервисах
        Global Solutions (такие как, Facebook, Google+, ID.uz и т. д.). Обязательная для предоставления Сервисов
        (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его
        усмотрение.</p>
      <p>1.1.2. Данные, которые автоматически передаются Сервисам Global Solutions в процессе их использования с помощью
        установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie,
        информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам),
        время доступа, адрес запрашиваемой страницы.</p>
      <p>1.1.3. Иная информация о пользователе, сбор и/или предоставление которой определено в Регулирующих документах
        отдельных Сервисов Global Solutions, если таковые имеются.</p>
      <p>1.2. Настоящая Политика применима только к Сервисам Global Solutions. Global Solutions не контролирует и не
        несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на
        Сервисах Global Solutions, в том числе в результатах поиска, перехода по ссылкам рекламного контента. На таких
        сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться
        иные действия.</p>
      <p>1.3. Global Solutions в общем случае не проверяет достоверность персональной информации, предоставляемой
        пользователями, и не осуществляет контроль за их дееспособностью. Однако Global Solutions исходит из того, что
        пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме
        регистрации и/или идентификации, и поддерживает эту информацию в актуальном состоянии. Последствия
        предоставления недостоверной информации определены в Пользовательском соглашении Cервисов Global
        Solutions(http://globalsolutions.uz/company/user-agreement).</p>
      <p>2. Цели сбора и обработки персональной информации пользователей</p>
      <p>2.1. Global Solutions собирает и хранит только те персональные данные, которые необходимы для предоставления
        Сервисов и оказания услуг (исполнения соглашений и договоров с пользователем), а также правильного
        функционирования Сервисов Global Solutions.</p>
      <p>2.2. Персональную информацию пользователя Global Solutions может использовать в следующих целях:
      </p>
      <p>2.2.1. Идентификация стороны в рамках соглашений и договоров с Global Solutions;</p>
      <p>2.2.2. Предоставление пользователю персонализированных Сервисов;</p>
      <p>2.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся
        использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
        Рустам Джалилов, [24.08.17 20:54]</p>
      <p>2.2.4. Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов и услуг;</p>
      <p>2.2.5. Таргетирование рекламных материалов;</p>
      <p>2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.</p>
      <p>3. Условия обработки персональной информации пользователя и её передачи третьим лицам</p>

      <p>3.1. Global Solutions хранит персональную информацию пользователей в соответствии с настоящей Политикой
        конфиденциальности.</p>

      <p>3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев
        добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При
        использовании отдельных Сервисов, пользователь соглашается с тем, что определённая часть его персональной
        информации становится общедоступной.</p>

      <p>3.3. Global Solutions вправе передать персональную информацию пользователя третьим лицам в следующих
        случаях:</p>

      <p>3.3.1. Пользователь выразил свое согласие на такие действия;</p>

      <p>3.3.2. Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги
        пользователю;</p>

      <p>3.3.3. Передача предусмотрена действующим законодательством Республики Узбекистан или иным применимым
        законодательством в рамках установленной законодательством процедуры;</p>

      <p>3.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к
        приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им
        персональной информации;</p>

      <p>3.3.5. В целях обеспечения возможности защиты прав и законных интересов Global Solutions или третьих лиц в
        случаях, когда пользователь нарушает Пользовательское соглашение Сервисов Global
        Solutions(http://globalsolutions.uz/company/user-agreement).</p>

      <p>3.4. При обработке персональных данных пользователей Global Solutions руководствуется действующим
        законодательством Республики Узбекистан.</p>

      <p>4. Изменение пользователем персональной информации</p>

      <p>4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную
        информацию или её часть, а также параметры её конфиденциальности, воспользовавшись функцией редактирования
        персональных данных в персональном разделе соответствующего Сервиса.</p>

      <p>4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную
        информацию, воспользовавшись функцией «Удалить аккаунт» в персональном разделе соответствующего Сервиса. При
        этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов Global Solutions.</p>

      <p>5. Меры, применяемые для защиты персональной информации пользователей</p>

      <p>5.1. Global Solutions принимает необходимые и достаточные организационные и технические меры для защиты
        персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения,
        блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>

      <p>6. Изменение Политики конфиденциальности. Применимое законодательство</p>

      <p>6.1. Global Solutions имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении
        изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу
        с момента ее размещения на web-сайте Global Solutions (gio.uz), если иное не предусмотрено новой редакцией
        Политики. Действующая редакция всегда находится на странице по адресу
        http://globalsolutions.uz/company/privacy-policy</p>

      <p>6.2. К настоящей Политике и отношениям между пользователем и GlobalSolutions, возникающим в связи с применением
        Политики конфиденциальности, подлежит применению законодательство Республики Узбекистан.</p>

      <p>7. Обратная связь</p>

      <p>7.1. Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей
        Global Solutions, по электронной почте marketing@gio.uz, либо по адресу: Республика Узбекистан,100084, г.
        Ташкент, пр. Амира Тимура, 107-Б, ООО «Global Solutions».</p>
    </div>
  </div>
</div>
