<app-navbar></app-navbar>

<!----------Platforms---------->
<div class="wrapper">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/cabinet/home">Главная страница</a></li>
        <li aria-current="page" class="breadcrumb-item active">Объявления</li>
      </ol>
    </nav>
    <div class="main">
      <div class="main-nav">
        <div></div>
        <div>
          <div class="btn-group mr-3" role="group">
            <button type="button" class="btn btn-outline-primary"
                    [class.active]="currentPeriod === 1" (click)="setPeriod(1)">Неделя
            </button>
            <button type="button" class="btn btn-outline-primary"
                    [class.active]="currentPeriod === 2" (click)="setPeriod(2)">Месяц
            </button>
            <button type="button" class="btn btn-outline-primary"
                    [class.active]="currentPeriod === 3" (click)="setPeriod(3)">Квартал
            </button>
            <button type="button" class="btn btn-outline-primary"
                    [class.active]="currentPeriod === 4" (click)="setPeriod(4)">Год
            </button>
            <button class="btn btn-outline-primary" type="button" [class.active]="currentPeriod === 5"
                    (click)="openModal()">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
          <button class="btn btn-success" (click)="download()">
            <i class="fa fa-upload mr-1"></i>Скачать данные
          </button>
        </div>
      </div>
      <div class="main-nav border-0" style="height: 50px;">
        <div></div>
        <div>
          <span class="period-text">Период:</span>
          <span class="text-muted">от {{currentDates.second|date:'dd.MM.yyyy'}}
            до {{currentDates.current|date:'dd.MM.yyyy'}}</span>
        </div>
      </div>
      <section class="main-section p-4">
        <div class="row">
          <!-- Table -->
          <div class="col-md-12">
            <app-loader *ngIf="loading"></app-loader>
            <table class="table table-bordered table-hover toggle-circle" *ngIf="!loading && adList.length">
              <thead>
              <tr>
                <th>ID</th>
                <th>Название группы</th>
                <th>Название компаний</th>
                <th>Клики</th>
                <th>Показы</th>
                <th>CTR%</th>
              </tr>
              </thead>
              <tbody id="PTable">
              <tr *ngFor="let list of adListShowed">
                <td>{{list.id}}</td>
                <td>{{list.groupName}}</td>
                <td>{{list.campaignName}}</td>
                <td>{{list.clicks}}</td>
                <td>{{list.impressions}}</td>
                <td>{{list.clickRate}}%</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="7">
                  <pagination [hidden]="adList.length <= 15" [itemsPerPage]="15"
                              [totalItems]="adList.length"
                              (pageChanged)="pageChanged($event)"></pagination>
                </td>
              </tr>
              </tfoot>
            </table>
            <div class="alert alert-danger" *ngIf="!loading && !adList.length">
              <h3>Ничего не найдено</h3>
              <hr>
              <h6>Нам очень жаль, но таблица пока пустая</h6>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>

<app-modal (apply)="apply($event)" #modalComponent></app-modal>
